---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1573/reviews?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 26fb04db4835e8d0d62686b58787a320c8598248
      X-Memc-Age:
      - '1019'
      X-Memc-Expires:
      - '15274'
      Etag:
      - W/"d86707e73933d54f07a0a1b335000dda"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1573,"page":1,"results":[{"author":"talisencrw","author_details":{"name":"","username":"talisencrw","avatar_path":"/https://secure.gravatar.com/avatar/cbcc9350415274a3c68399bd37ca3ebc.jpg","rating":9.0},"content":"Great
        fun re-watching this after checking out the original for the first time. One
        of the very best filmic franchises out there, to be sure.","created_at":"2016-08-13T20:39:17.279Z","id":"57af8575925141289d006f7a","updated_at":"2021-06-23T15:57:50.257Z","url":"https://www.themoviedb.org/review/57af8575925141289d006f7a"}],"total_pages":1,"total_results":1}'
  recorded_at: Wed, 20 Oct 2021 17:40:37 GMT
recorded_with: VCR 6.0.0
